{%extends "template.html"%} {% block conteudo%}
<div class="box" style="width: 50%">
  <form
    action="{{ url_for('edit', id=filament.id) if filament else url_for('create') }}"
    method="post"
  >
    <fieldset>
      {% if filament %}
      <input type="hidden" name="id" value="{{ filament.id }}" />
      {% endif %}
      <div class="form-group">
        <label for="color">Color</label>
        <input
          type="text"
          id="color"
          name="color"
          value="{{ filament.color if filament else '' }}"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="brand">Supplier</label>
        <input
          type="text"
          id="brand"
          name="brand"
          value="{{ filament.brand if filament else '' }}"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="filament_name">Description</label>
        <input
          type="text"
          id="filament_name"
          name="filament_name"
          value="{{ filament.filament_name if filament else '' }}"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          id="quantity"
          name="quantity"
          step="0.1"
          min="0"
          max="1000"
          value="{{ filament.quantity if filament else '' }}"
          class="form-control"
          required
        />
      </div>
      <div style="margin-top: 10px">
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        <button
          type="button"
          class="btn btn-secondary"
          onclick="window.location.href='{{ url_for('index') }}'"
        >
          Voltar
        </button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
