{%extends "template.html"%}
{% block conteudo%}

        <table class="table table-striped table-responsive table-borded">
            <caption class="p-1 mb-2 bg-light text-black">List of available filaments</caption>
            <thead class="table-dark">
                <tr class="text-center">
                    <th class="fs-2">Color</th>
                    <th class="fs-2">Supplier</th>
                    <th class="fs-2">Description</th>
                    <th class="fs-2">Amount (g)</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for filament in Filaments %}
                <tr>
                    <td >{{filament.color}}</td>
                    <td>{{filament.supplier}}</td>
                    <td>{{filament.description}}</td>
                    <td>{{filament.amount}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
{% endblock %}